* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Semi';
    src: url(Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Regular';
    src: url(Inter-Regular.ttf);
}

h2{
    font-family: 'Regular';
    font-size: 20px;
    color: #1E1E1E;
}
p, a{
    color: #535353;
    font-size: 14px;
    font-family: 'Regular';
}

.name {
    color: #282828;
    font-family: 'Semi';
    font-size: 18px;
    line-height: 30px;
}

.role {
    color: #3E3E59;
    margin-top: 4px;
    font-family: 'Regular';
    font-size: 14px;
    line-height: 22px;
}

.desc {
    color: #5F6980;
    margin-top: 8px;
    font-family: 'Regular';
    font-size: 14px;
    line-height: 22px;
}

.icons{
    display: flex;
    width: 140px;
    justify-content: space-between;
}

li {
    height: 48px;
    list-style: none;  
}

.cards-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    width: 1336px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;    
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card {
    border: 1px solid #EAECF0;
    height: 460px;
    width: 310px;
}

.info {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.icons {
    margin-top: 24px;
}


footer {   
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 83, 83, 0.33);

}

.footer-wrapper {
    width: 1306px;
    height: 223px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 318px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-socials {
    width: 104px;
    display: flex;
    justify-content: space-between;
}

.webiste-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.langauges {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 127px;
}

.english {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: #054A68;
    width: 80px;
    height: 45px;
}